body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent any unwanted scrolling on the body */
}

.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px; /* Adjust width as needed */
  background-color: #111; /* Adjust background as needed */
  color: #fff;
  overflow-x: hidden;
  z-index: 1000; /* Ensure it stays on top */
}

.full-height-sidebar {
  height: 100%; /* Ensure sidebar takes the full height */
}

.content {
  margin-left: 250px; /* Match the width of the sidebar */
  padding: 20px;
  width: calc(100% - 250px); /* Ensure it fits the remaining space */
  height: 100vh;
  overflow-y: auto; /* Allow vertical scrolling */
  box-sizing: border-box; /* Include padding in height calculation */
}
